apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
data:
  MONGODB_URI: "mongodb://mongodb-0.mongodb:27017"
  MONGODB_DB_NAME: "barely_surviving"
  CORS_ORIGINS: "http://localhost:5173,http://barely-surviving.local,http://barely-surviving-dev.local"
